@{
    ViewData["Title"] = "Home Page";

    ////////////////////////////////////////////////////////////////////////////////////



    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Página Inicial</title>
        <!-- Inclua os arquivos CSS do Bootstrap -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css">
    </head>
    <body>
        <!-- Conteúdo principal -->
        <div class="container mt-5">
            <div class="jumbotron">
                <h1 class="display-4">Bem-vindo ao Meu Site!</h1>
                <p class="lead">By João Victor Aparecido Jesus De Oliveira.</p>
                <hr class="my-4">
                <p>Site Criado Para Gerenciar Os IPS de forma Facil e eficaz.</p>
                <a class="btn btn-primary btn-lg" href="https://www.linkedin.com/in/jo%C3%A3o-victor-aparecido-jesus-de-oliveira-5b1400208/" role="button">Saiba mais</a>
            </div>
        </div>

        <!-- Inclua os arquivos JavaScript do Bootstrap (opcional) -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
    </body>
    </html>






    ////////////////////////////////////////////////////////////////////////////////////


}

