@model ips.Models.EnderecoIP

@{
    ViewData["Title"] = "Create";
}

<h1>Criar</h1>

<h4>EnderecoIP</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IP" class="control-label"></label>
                <input asp-for="IP" class="form-control" />
                <span asp-validation-for="IP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfiguracaoDoPC" class="control-label"></label>
                <input asp-for="ConfiguracaoDoPC" class="form-control" />
                <span asp-validation-for="ConfiguracaoDoPC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Empresa" class="control-label"></label>
                <input asp-for="Empresa" class="form-control" />
                <span asp-validation-for="Empresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Setor" class="control-label"></label>
                <input asp-for="Setor" class="form-control" />
                <span asp-validation-for="Setor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bloco" class="control-label"></label>
                <input asp-for="Bloco" class="form-control" />
                <span asp-validation-for="Bloco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>

    <a asp-action="Index" class="btn btn-primary">Back to List</a>

  
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
